<div class="">
    <div class="foreCast col-lg-12 col-sm-12 col-xs-12 col-md-12">Forecast Weather Report
         <a href="javascript:void(0)" routerLink="/today" class="pull-right">
            <i class="fa fa-caret-left" area-hidden="true"></i> Back
        </a>
    </div>
    <div class="container">
        <div class="row">
    <div class="col-lg-6 col-sm-6 col-xs-12 col-md-6 paddDiv">
        <h3 class="dataHead">{{dt_text | date: 'EEEE, MMMM d, y'}} Forecast</h3>
        <span>{{city}}</span>
        <div>
           <b>Sunset</b> {{sunset | date:'h:mm a z'}} / <b>Sunrise</b>{{sunrise | date:'h:mm a z'}}
        </div>
        <div><b>SeaLevel </b> {{sealevel}}mm</div>
    </div>
    <div class="col-lg-6 col-sm-6 col-xs-12 col-md-6 paddDiv">
        <div class="primary" *ngIf="primaryDisplay">
            <h3 class="dataHead">5 days Forecast</h3>
            <ul>
                <li class="main" (click)="toggle(weatherData[i], i)" *ngFor="let forecast of weatherData; let i =index">
                    <div>
                        <span> {{forecast.dt_txt | date: 'EEEE, MMMM d, y'}} </span>
                    </div>
                    <div>
                        <span>
                            {{(forecast.main.temp_min-273.15).toFixed(0)}}°F
                            {{(forecast.main.temp_max-273.15).toFixed(0)}}°F
                        </span>
                    </div>
                    <div>
                        <span>
                            {{forecast.weather[0].main}}
                        </span>
                    </div>
                    <div> <span>{{forecast.main.sea_level}}mm</span></div>
                    <span><i class="fa fa-caret-down" area-hidden="true"></i></span>
            </li>
            </ul>
        </div>

        <div class="secondaryDsp" *ngIf="secondaryDsp">
            <h3 class="dataHead">5 days Forecast</h3>
            <ul class="sub">
                <li *ngFor="let forecast of weatherData; let i=index" [ngClass]="{'selected':selectedIndex == i}">
                    <span (click)="showDetails(weatherData[i])">{{forecast.dt_txt | date: 'EEE'}}</span>
                </li>
                <i class="fa fa-caret-up" area-hidden="true" (click)="toggles()"></i>
            </ul>
            <div *ngIf="forecastDetail" class="p10">
                <ul>
                    <li>
                        <span>Temperature</span> {{(forecastDetail.main.temp-275.15).toFixed(0)}}°F
                    <li>
                    <li>
                        <span>SeaLevel</span> {{forecastDetail.main.sea_level}}mm
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
</div>