 <div class="foreCast col-lg-12 col-sm-12 col-xs-12 col-md-12">Forecast Weather Report
         <a href="javascript:void(0)" routerLink="/today" class="pull-right">
            <i class="fa fa-caret-left" area-hidden="true"></i> Back
        </a>
    </div>
    <div class="container">
        <div class="row">
    <div class="col-lg-6 col-sm-12 col-xs-12 col-md-12 paddDiv">
        <h3 class="dataHead">Today: {{dt_text | date: 'MMM d, y, h:mm:ss a'}} Forecast</h3>
        <span>{{city}}</span>
        <div><b>SeaLevel </b> {{sealevel}}mm</div>
    </div>
    <div class="col-lg-6 col-sm-12 col-xs-12 col-md-12 paddDiv">
        <div class="primary" *ngIf="primaryDisplay">
            <h3 class="dataHead">5 days Forecast At 9:00</h3>
            <ul>
                <li class="main row" (click)="toggle(weatherData[i], i)" *ngFor="let forecast of weatherData; let i =index">
                    <div class="col-lg-4 col-sm-4 col-xs-4">
                        <span> {{forecast.dt_txt | date: 'MMM d, y, h:mm:ss a'}} </span>
                    </div>
                    <div class="col-lg-2 col-sm-3 col-xs-3">
                        <span>
                            {{(forecast.main.temp_min-273.15).toFixed(0)}}°F
                            {{(forecast.main.temp_max-273.15).toFixed(0)}}°F
                        </span>
                    </div>
                    <div class="col-lg-2 col-sm-2 col-xs-2">
                        <span>
                            {{forecast.weather[0].main}}
                        </span>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-xs-4"> 
                        <span><b>SeaLevel</b>{{forecast.main.sea_level}}mm</span> &nbsp;
                        <span><i class="fa fa-caret-down" area-hidden="true"></i></span>
                    </div>
                    
            </li>
            </ul>
        </div>

        <div class="secondaryDsp" *ngIf="secondaryDsp">
            <h3 class="dataHead">5 days Forecast At 9:00</h3>
            <ul class="sub">
                <li *ngFor="let forecast of weatherData; let i=index" [ngClass]="{'selected':selectedIndex == i}">
                    <span (click)="showDetails(weatherData[i])">{{forecast.dt_txt | date: 'EEE'}}</span>
                </li>
                <i class="fa fa-caret-up" area-hidden="true" (click)="toggles()"></i>
            </ul>
            <div *ngIf="forecastDetail" class="p10">
                <ul>
                    <li>
                        <span>Temperature</span> {{(forecastDetail.main.temp-275.15).toFixed(0)}}°F
                    <li>
                    <li>
                        <span>SeaLevel</span> {{forecastDetail.main.sea_level}}mm
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
