#divWeatherMain{
    display: inline-block;
    border-radius: 10px;
    width: 200px;
    padding: 15px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(8,7,42,1) 75%, rgb(8, 10, 63) 100%);
    color: white;margin:15px;cursor:pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.weatherWidgetRow{
    display:block;
    margin:0 auto;
    width: fit-content;
}

.sun{
    margin-top: 10px;
    color: yellow;
    filter: drop-shadow( 1px 1px 10px yellow);
}

.moon{
    margin-top: 10px;
    color: white;
    filter: drop-shadow( 1px 1px 10px white);
}

.cloudDiv{
    margin-top: -40px;
}

.cloud{
    color: rgb(104, 175, 197);
    filter: drop-shadow( 1px 1px 5px rgb(104, 175, 197));
    animation-name: cloudMovement;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}
.cityName input[type='text']{
    border: 1px solid #e3e3e3;
    box-shadow: none;
    font-size: 12px;
    padding: 5.5px;
}
.cityName input[type='text']:focus{box-shadow:none;}
.cityName span{border: 1px solid #e3e3e3;
    padding: 0px 3px 0px;
    background-color: #de8d39;
    line-height: 28px;
    margin: 0 0;
    display: inline-block;
    font-size: 13px;
}
.cityName span:last-child{background:#fff;color:#000;cursor: pointer;}
@keyframes cloudMovement{
    from{margin-left: -55px;}
    to{margin-left: 65px;}
}

@media only screen and (max-width: 600px) {
    #divWeatherMain {
      width:100%;
      margin:10px auto
    }
    .foreCast{
        text-align:center;
    }
    .foreCast span{margin:10px 0}
  }